
{% extends "layout.html" %}
{% block content %}

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-md-3">
		<div class="row">
			<div class="col-lg-5 about-left">
				<p class="">Coal is an important industrial amd commercial resource.
									Thus it is very important to make sure that the quality of coal is kept at
								high level. The double blinding technique will make sure that the testing procedure
							of coal is an unbiased process with high candor. </p>
			</div>
			<div class="col-lg-7 about-right text-center mt-5">
				<div class="row">
					<div class="col-sm-4 col-4 grid1">
						<span class="fa fa-cloud"></span>
						<h4 class="mt-3">Awesome <br>Design</h4>
					</div>
					<div class="col-sm-4 col-4 grid2 border-grid">
						<span class="fa fa-desktop"></span>
						<h4 class="mt-3">Responsive <br>Layout</h4>
					</div>
					<div class="col-sm-4 col-4 grid3">
						<span class="fa fa-cogs"></span>
						<h4 class="mt-3">Creative <br>Minds</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //about -->
{% endblock content %}
